body{
    /*background-image: url("IMG_0722-3.jpg");*/
 
    background-size: 100%;
}
 
#loginForm{
    height: 280px;
    width:440px;
    background-color: rgba(163, 163, 163, .4);
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    border-radius: 3px;
    font-family: sans-serif;
}
 
#loginForm h1{
    font-weight: normal;
    text-align: center;
    position: relative;
    top: 20px;
    color: white;
    margin-top: -65px;
    margin-left: 23px;
}
 
#loginForm p{
    position: relative;
    left: 80px;
    top: 20px;
    font-size: 12px;
    color: white;
    margin-left: 15px;
}
#loginForm a{
    position: relative;
    left: 175px;
    top: -7px;
    font-size: 12px;
    margin-left: 15px;
}
 
#registerForm{
    height: 500px;
    width:310px;
    background-color: rgba(163, 163, 163, .4);
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    border-radius: 3px;
    font-family: sans-serif;
}
 
#registerForm h1{
    text-align: center;
    font-weight: normal;
    position: relative;
    top: 20px;
    color: white;
}
 
#registerForm p{
    position: relative;
    left: 80px;
    top: 20px;
    font-size: 12px;
    color: white;
}
#registerForm a{
    position: relative;
    left: 195px;
    top: -7px;
    font-size: 12px;
     
}
 
/* unvisited link */
a:link {
    color: #333333;
}
 
/* visited link */
a:visited {
    color: #333333;
}
 
a:hover{
    color: white;
}
 
#field{
    background-color: rgba(49, 49, 49, .6);
    width: 275px;
    height: 40px;
    font-size: 15px;
    color: #D4D4D4;
    position: relative;
    top: 25px;
    margin-left: 95px;
    margin-top: 5px;
    border-radius: 1px;
    border: 1px  #313131;
}
 
#btn {
    background-color: #5fa2db;
    border: 1px solid #5fa2db;
    color: white;
    width: 80px;
    height: 30px;
    float: right;
    margin-right: 70px;
    margin-top: 20px; 
}
 
#btn:hover{
    background-color: #90BEE6;
    border-color: #90Bee6;
}
 
#incorrect {
    text-align: center;
    color: red;
    font-size: 12px;
 
}